@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slide-in-from-top {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slide-in-from-top {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  padding: 10px;
}

.popover {
  position: relative;
  z-index: 2;
}

.popover-content {
  position: absolute;
  -webkit-animation: slide-in 0.3s ease;
          animation: slide-in 0.3s ease;
  right: 0;
  top: calc(100% + 10px);
}

.popover-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  border-bottom: var(--border-in-light);
  padding: 10px 20px;
  -webkit-animation: slide-in ease 0.6s;
          animation: slide-in ease 0.6s;
}

.list-item .list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-item .list-header .list-icon {
  margin-right: 10px;
}

.list-item .list-header .list-item-title {
  font-size: 14px;
  font-weight: bolder;
}

.list-item .list-header .list-item-sub-title {
  font-size: 12px;
  font-weight: normal;
}

.list {
  border: var(--border-in-light);
  border-radius: 10px;
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  margin-bottom: 20px;
  -webkit-animation: slide-in ease 0.3s;
          animation: slide-in ease 0.3s;
}

.list .list-item:last-child {
  border: 0;
}

.modal-container {
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  background-color: var(--white);
  border-radius: 12px;
  width: 60vw;
  -webkit-animation: slide-in ease 0.3s;
          animation: slide-in ease 0.3s;
  --modal-padding: 20px;
}

.modal-container .modal-header {
  padding: var(--modal-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: var(--border-in-light);
}

.modal-container .modal-header .modal-title {
  font-weight: bolder;
  font-size: 16px;
}

.modal-container .modal-header .modal-close-btn {
  cursor: pointer;
}

.modal-container .modal-header .modal-close-btn:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.modal-container .modal-content {
  max-height: 40vh;
  padding: var(--modal-padding);
  overflow: auto;
}

.modal-container .modal-footer {
  padding: var(--modal-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: var(--border-in-light);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.modal-container .modal-footer .modal-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal-footer .modal-actions .modal-action:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .modal-container {
    width: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .modal-container .modal-content {
    max-height: 50vh;
  }
}

.show {
  opacity: 1;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  position: fixed;
  left: 0;
  bottom: 0;
  -webkit-animation: slide-in ease 0.6s;
          animation: slide-in ease 0.6s;
  z-index: 99999;
}

.hide {
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.toast-container {
  position: fixed;
  bottom: 5vh;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.toast-container .toast-content {
  max-width: 80vw;
  word-break: break-all;
  font-size: 14px;
  background-color: var(--white);
  -webkit-box-shadow: var(--card-shadow);
          box-shadow: var(--card-shadow);
  border: var(--border-in-light);
  color: var(--black);
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: all;
}

.toast-container .toast-content .toast-action {
  padding-left: 20px;
  color: var(--primary);
  opacity: 0.8;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

.toast-container .toast-content .toast-action:hover {
  opacity: 1;
}

.input {
  border: var(--border-in-light);
  border-radius: 10px;
  padding: 10px;
  font-family: inherit;
  background-color: var(--white);
  color: var(--black);
  resize: none;
  min-width: 50px;
}

.select-with-icon {
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.select-with-icon .select-with-icon-select {
  height: 100%;
  border: var(--border-in-light);
  padding: 10px 25px 10px 10px;
  border-radius: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
}

.select-with-icon .select-with-icon-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}
/*# sourceMappingURL=ui-lib.module.css.map */